.body-color {
    background-color: #EBEFFF;
}

.no-underline {
    text-decoration: none;
    color: inherit;
}

.zoom-container {
    overflow: hidden;
}

.zoom-on-hover {
    transition: transform .4s;
}

.zoom-on-hover:hover {
    transform: scale(1.05);
}
.navbar-brand-text{
font-size:18px;
font-weight:600;
margin-left:10px;
}

.bank-logo{
width:35px;
height:35px;
}